body {
	margin-top: 0px;
}

#wrapper {
	padding-top: 50px;
}

form .input {
	margin-bottom: 30px;
}

.panel-default {
	-webkit-transition: border-color 500ms, background-color 500ms;
	transition: border-color 500ms, background-color 500ms;
}

.panel-body {
	display: none;
}

.panel-default > .panel-heading {
	color: #333;

	cursor: pointer;

	-webkit-transition: border-color 500ms, background-color 500ms;
	transition: border-color 500ms, background-color 500ms;
}

.panel-default > .panel-heading:hover {
	background-color: #fff;
}

.panel-default.green {
	background-color: #61c250;
}

.panel-default.green > .panel-heading {
	border-color: #61c250;
	background-color: #61c250;
}

.specials-form .specials-row {
	padding-top: 8px;

	-webkit-transition: background-color 500ms;
	transition: background-color 300ms;
}

.specials-form .specials-row:hover {
	background-color: #e6e6e6;
}

.specials-form .input {
	margin-bottom: 15px;
}

.specials-name {
	font-size: 1.3em;
}

input[type=submit] {
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
}

@media (min-width: 768px) {

	.side-nav,
	.side-nav > li > a {
		width: 180px;
	}

	#wrapper {
		padding-left: 180px;
	}
}

#EventAdminHomeForm {
	padding-bottom: 40px;
}
	#send-newsletter-success,
	#EventAdminHomeForm .success {
		display: none;
		font-weight: bold;
		color: #61c250;
	}
