body {
	font-family: 'DINPro', Arial, Helvetica, sans-serif;
	background-color: black;
	font-size: 15px;
	height: 5000px;
	opacity: 0;
	transition: opacity 0.25s;
}

.navbar-default {
	background-color: transparent;
	border: 0px solid transparent;
}

.navbar-collapse {
	border-top: 0px solid transparent;
	-webkit-box-shadow: inset 0 0px 0 transparent;
	box-shadow: inset 0 0px 0 transparent;
}

nav {
	width: 100%;
	border-width: 0px;

	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

@media (max-width: 767px) {
	nav.navbar {
		width: auto;
		margin: 10px;
		padding-top: 25px;
		background-color: rgba(0,0,0, 0);
		-webkit-transition: background-color 0.2s; /* Safari */
		transition: background-color 0.2s;
		margin: 10px;

	}
		nav.navbar.with-bg {
			background-color: rgba(0,0,0, 0.8);
		}
}

nav.navbar-fixed-top {
	-webkit-transform: translate3d(0px, -148px, 0px);
	transform: translate3d(0px, -148px, 0px);

	background-color: rgba(255,255,255, 0.95);
	color: black;
	margin-bottom: 0px;
}

nav.navbar-absolute-top {
	position: absolute;

	left: 0px;
	right: 0px;
	z-index: 2;
}
@media (min-width: 992px) {
	ul.nav.navbar-nav {
		float: right !important;
		margin-right: -15px;
	}
}
@media (min-width: 768px) {

	nav.navbar-absolute-top {
		-webkit-transform: translate3d(0px, 25px, 0px);
		transform: translate3d(0px, 25px, 0px);
	}

	.navbar {
		border-radius: 0px;
	}

	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0px;
	}
}

	.navbar-nav {
		position: relative;
	}
	@media (min-width: 768px) {
		nav.navbar-absolute-top .navbar-nav {
			-webkit-transform: translate3d(0px, 35px, 0px);
			transform: translate3d(0px, 35px, 0px);
		}

		nav.navbar-fixed-top .navbar-nav {
			-webkit-transform: translate3d(0px, 11px, 0px);
			transform: translate3d(0px, 11px, 0px);
		}
	}

		.navbar-nav > li > a {
			font-weight: bold;
			text-transform: uppercase;
		}

		.navbar-nav > li > a {
			font-weight: bold;
			text-transform: uppercase;
		}

		@media (min-width: 992px) {
			.navbar-nav > li > a {
				font-size: 1em;
			}
			#language-switch-link-mobile {
				display: none;
			}
		}
		@media (max-width: 991px) {
			#language-switch-link-fullscreen {
				display: none;
			}
		}
		@media (min-width: 768px) and (max-width: 991px) {
			#navbar-collapse {
				padding: 0px;
			}
			.navbar-nav > li > a {
				padding: 10px;
			}

			.navbar-header {
				margin: 0 auto;
				float: none;
			}

			.navbar > .container .navbar-brand,
			.navbar > .container-fluid .navbar-brand {
				margin: 0px auto 15px auto;
				display: block;
				float: none;
			}

			nav.navbar-absolute-top > .container .navbar-brand,
			nav.navbar-absolute-top > .container-fluid .navbar-brand {
				margin: 0px auto 15px auto;
			}

			nav.navbar-fixed-top > .container .navbar-brand,
			nav.navbar-fixed-top > .container-fluid .navbar-brand {
				margin: 10px auto 5px auto;
			}

			nav.navbar-fixed-top .navbar-nav,
			nav.navbar-absolute-top .navbar-nav {
				-webkit-transform: translate3d(0px, 0px, 0px);
				transform: translate3d(0px, 0px, 0px);
			}
		}
		@media (max-width: 767px) {
			.navbar-nav > li > a {
				padding-top: 10px;
				padding-bottom: 10px;
				text-align: center;
				font-size: 1.2em;
			}
		}

		.navbar-fixed-top .navbar-nav > li > a {
			color: black;
		}
		.navbar-absolute-top .navbar-nav > li > a {
			color: white;
		}

		.nav > li > a:hover,
		.nav > li > a:focus {
			text-decoration: none;
			background-color: transparent;
		}
			.nav > li > a > span {
				padding-bottom: 3px;
			}

			.navbar-absolute-top .nav > li > a:hover > span:last-of-type,
			.navbar-absolute-top .nav > li > a:focus > span:last-of-type {
				border-bottom: 2px solid white;
			}

			.navbar-fixed-top .nav > li > a:hover > span:last-of-type,
			.navbar-fixed-top .nav > li > a:focus > span:last-of-type {
				border-bottom: 2px solid #61c250;
			}

		#language-switch-link-mobile {
			margin-top: 20px;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		@media (min-width: 768px) {
			#language-switch-link-mobile {
				margin: 0px;
			}
			#language-switch-link-mobile > a > span > span {
				display: none;
			}
		}

.navbar-absolute-top .navbar-brand {
	display: block;
	width: 120px;
	height: 123px;
	background-image: url('../img/logos/pigis-round-logo-white.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
}

.navbar-fixed-top .navbar-brand {
	display: block;
	width: 82px;
	height: 41px;
	background-image: url('../img/logos/pigis-text-logo-black.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px;
	margin-top: 15px;
	margin-bottom: 11px;
}

@media (max-width: 767px) {
	.navbar-brand {
		margin: 50px auto 25px auto;
		float: none;
	}
}

.navbar-toggle {
	border-radius: 0px;
	margin: 5px 0px 0px 0px;
	padding: 10px 10px;

}
	.navbar-toggle .icon-bar {
		background-color: white;
		width: 40px;
		height: 4px;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 5px;
	}

.wrapper {
	position: relative;
}

.wrapper-image {
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-moz-min-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (min-device-pixel-ratio: 1) {
	#uvod {
		background-image: url('../img/bg/pasta-plate.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	#uvod {
		background-image: url('../img/bg/pasta-plate@2x.jpg');
	}
}

@media (min-width: 1200px) {
	#uvod {
		background-image: url('../img/bg/pasta-plate@2x.jpg');
	}
}

@media (max-width: 720px) {
	#uvod {
		background-image: url('../img/bg/pasta-plate-mobile.jpg');
	}
}

#uvod {
	position: relative;
}

@media (max-width: 767px) {
	#uvod {
		padding-top: 240px;
	}
}
	#uvod-text {
		margin-bottom: 0px;
		line-height: 3em;
		line-height: 3.5em;
		font-size: 1em;
		font-family: 'CatalinaAvalonSlab', Serif;
	}

	@media (min-width: 768px) {
		#uvod-text {
			position: absolute;
			top: 50.5%;
			left: 7.5%;
		}
	}
	@media (max-width: 767px) {
		#uvod-text {
			margin-left: -40px;
			text-align: center;
		}
	}

		#uvod-text > div.green {
			color: #61c250;
			font-size: 3.733333333333333em;
		}
		#uvod-text > div.white {
			color: #fff;
			margin-left: 110px;
			font-size: 2.666666666666667em;
		}

	#scroll-down {
		display: block;
		width: 32px;
		height: 22px;
		background-image: url('/img/icons/arrow-down.svg');
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		left: 50%;
		top: 91.75%;
		transform: translate(-16px, 0px);
	}

	@media (max-width: 767px) {
		#scroll-down {
			display: none;
		}
	}

#kuchar {
	padding: 110px 0px 10px 0px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-moz-min-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (min-device-pixel-ratio: 1) {
	#kuchar {
		background-image: url('../img/bg/white-noise.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	#kuchar {
		background-image: url('../img/bg/white-noise@2x.jpg');
	}
}

@media (min-width: 1200px) {
	#kuchar {
		background-image: url('../img/bg/white-noise@2x.jpg');
	}
}

@media (max-width: 767px) {
	#kuchar {
		padding-top: 70px;
	}
}
	#kuchar blockquote {
		border-left: 0px solid transparent;
		text-align: center;
		padding: 0px;
		margin-bottom: 50px;
	}
		#kuchar blockquote p {
			font-size: 1.666666666666667em;
		}
		#kuchar blockquote cite {
			font-style: normal;
		}

	#kuchar-img-text-holder {
		max-width: 1200px;
		margin: 0px auto 60px auto;
	}

	#kuchar-img {
		float: left;
		width: 620px;
		height: 450px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (min-width: 2401px)	{ #kuchar-img { background-image: url('../img/var/kuchar@4x.jpg'); } }
	@media (max-width: 2400px)	{ #kuchar-img { background-image: url('../img/var/kuchar@2x.jpg'); } }
	@media (max-width: 1200px)	{ #kuchar-img { background-image: url('../img/var/kuchar.jpg'); } }
	@media (max-width: 720px)	{ #kuchar-img { background-image: url('../img/var/kuchar-mobile.jpg'); } }

	#kuchar-text {
		float: left;
		width: 460px;
		background-color: #fff;
		padding: 25px 20px;
		position: relative;
		top: 70px;
		left: -60px;
	}
	@media (min-width: 1024px) and (max-width: 1109px) {
		#kuchar-text {
			width: 420px;
			top: 40px;
		}
	}
	@media (min-width: 992px) and (max-width: 1023px) {
		#kuchar-text {
			width: 405px;
			top: 27px;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		#kuchar-text {
			top: -20px;
			left: 0px;
		}
	}

	@media (max-width: 991px) {
		#kuchar-img {
			float: none;
			margin: 0 auto;
		}

		#kuchar-text {
			float: none;
			margin: 0 auto;
		}
	}

	@media (max-width: 767px) {
		#kuchar-img {
			float: none;
			margin: 0 auto;
		}

		#kuchar-text {
			top: -20px;
			left: 0px;
		}
	}

	@media (max-width: 490px) {
		#kuchar-text {
			top: 0px;
			width: auto;
		}
	}

		#kuchar-text h2 {
			font-family: 'CatalinaAvalonSlab', Serif;
			font-size: 3em;
			color: #61c250;
			margin-top: 0px;
			margin-bottom: 5px;
		}

		@media (max-width: 429px) {
			#kuchar-text h2 {
				font-size: 2.5em;
			}
		}

		@media (max-width: 369px) {
			#kuchar-text h2 {
				font-size: 2.088em;
			}
		}

		#kuchar-text h3 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1em;
			margin-top: 10px;
		}
		#kuchar-text p:last-of-type {
			margin-bottom: 0px;
		}

	#kuchar .circle-link {
		padding-top: 175px;
		margin-bottom: 45px;
		background-size: 150px;
		background-position: top center;
		background-repeat: no-repeat;

		font-size: 1.066666666666667em;
		text-align: center;
		color: black;
	}

	@media (max-width: 420px) {
		#kuchar .circle-link {
			padding-top: 160px;
			background-size: 100%;
		}
	}

	#chlieb { background-image: url('/img/icons/chlieb.svg'); }
	#kolace { background-image: url('/img/icons/kolace.svg'); }
	#kava	{ background-image: url('/img/icons/kava.svg'); }
	#zemiaciky { background-image: url('/img/icons/zemiaciky.svg'); }

#burger {
	height: 250px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

	#burger > div {
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		position: absolute;
		-webkit-transfrom: translate3d(0px, 0px, 0px);
		transfrom: translate3d(0px, 0px, 0px);
	}

	@media (min-width: 2401px)	{ #burger > div { background-image: url('../img/bg/burger@4x.jpg'); } }
	@media (max-width: 2400px)	{ #burger > div { background-image: url('../img/bg/burger@2x.jpg'); } }
	@media (max-width: 1200px)	{ #burger > div { background-image: url('../img/bg/burger.jpg'); } }
	@media (max-width: 480px)	{ #burger > div { background-image: url('../img/bg/burger-mobile.jpg'); } }

	#burger > h2 {
		margin: 0px;
		font-size: 3em;
		font-family: 'CatalinaAvalonSlab', Serif;
		color: white;
		display: inline-block;
		line-height: 250px;
		position: relative;
	}
		#burger > h2 br {
			display: none;
		}
	@media (max-width: 599px) {
		#burger > h2 {
			line-height: 1.25em;
			padding-top: 70px;
		}
			#burger > h2 br {
				display: block;
			}
	}
	@media (max-width: 429px) {
		#burger > h2 {
			font-size: 2.4em;
			padding-top: 85px;
		}
	}

#denne-menu {
	position: relative;
	color: #fff;
	text-align: center;

	padding-top: 20px;
	padding-bottom: 0px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-moz-min-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (min-device-pixel-ratio: 1) {
	#denne-menu {
		background-image: url('../img/bg/black-noise.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	#denne-menu {
		background-image: url('../img/bg/black-noise@2x.jpg');
	}
}

@media (min-width: 1200px) {
	#denne-menu {
		background-image: url('../img/bg/black-noise@2x.jpg');
	}
}

	#denne-menu .col-xs-12 {
		margin-bottom: 50px;
	}

	#denne-menu h2 {
		font-family: 'CatalinaAvalonSlab', Serif;
		font-size: 2.533333333333333em;
		color: #61c250;
		margin-top: 0px;
		margin-bottom: 25px;
	}

	#denne-menu h3 {
		font-weight: bold;
		font-size: 1em;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 1em;
	}

	#denne-menu .description {
		color: #999999;
		margin-bottom: 35px;
	}
		#denne-menu .description br {
			display: none;
		}

	@media (max-width: 410px) {
		#denne-menu .description br {
			display: inherit;
		}
	}

	#denne-menu .meal-section {
		margin-bottom: 1.5em;
	}
		#denne-menu .meal-section p {
			line-height: 1.3em;
			margin-bottom: 0.5em;
		}

	#denne-menu .meal > .weight {
		color: #61c250;
	}

#green-lines {
	padding: 30px 0px;
	background-image: url('/img/bg/green-lines.jpg');
}

@media (min-width: 2401px)	{ #green-lines { background-image: url('../img/bg/green-lines@4x.jpg'); } }
@media (max-width: 2400px)	{ #green-lines { background-image: url('../img/bg/green-lines@2x.jpg'); } }
@media (max-width: 1200px)	{ #green-lines { background-image: url('../img/bg/green-lines.jpg'); } }
@media (max-width: 830px)	{ #green-lines { background-image: url('../img/bg/green-lines-mobile.jpg'); } }


@media (min-width: 830px) {
	#green-lines {
		height: 100px;
	}
		#green-lines form {
			width: 780px;
			margin: 0 auto;
		}
}

	#green-lines span {
		margin-right: 15px;
		font-size: 1.2em;
	}

	#green-lines input[type="email"] {
		width: 230px;
		font-size: 1.2em;
		line-height: 2.222222222222222em;
		padding: 0px 10px;
		background-color: #dfffd9;
		border: 0px solid transparent;
	}

	#green-lines input[type="email"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #000;
	}
	#green-lines input[type="email"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #000;
	opacity:  1;
	}
	#green-lines input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #000;
	opacity:  1;
	}
	#green-lines input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #000;
	}

	#green-lines input[type="submit"] {
		width: 180px;
		line-height: 2em;
		font-size: 1.2em;
		background-color: transparent;
		border: 2px solid #fff;
		color: #fff;
		text-transform: uppercase;
	}

	@media (max-width: 829px) {
		#green-lines form {
			width: 100%;
			margin: 0 auto;
			padding: 0px 15px;
		}

		#green-lines span,
		#green-lines input[type="email"],
		#green-lines input[type="submit"] {
			text-align: center;
			display: block;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	#newsletter-success,
	#newsletter-exists,
	#newsletter-error {
		display: none;
		color: white;
		text-align: center;
		font-size: 1.25em;
		line-height: 2.2em;
	}

	#newsletter-success a,
	#newsletter-exists a,
	#newsletter-error a {
		color: white;
		text-decoration: underline;
	}

#events {
	color: #fff;
	background-color: #fff;
	text-align: center;
	padding: 2em 0em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-moz-min-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (min-device-pixel-ratio: 1) {
	#squares {
		background-image: url('../img/bg/white-noise.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	#squares {
		background-image: url('../img/bg/white-noise@2x.jpg');
	}
}

@media (min-width: 1200px) {
	#events {
		background-image: url('../img/bg/white-noise@2x.jpg');
	}
}

	#events > .container-fluid {
		max-width: 1200px;
	}

	#events > .container-fluid {
		padding: 0px;
	}

	#events .col-sm-4 {
		padding: 0px 10px;
	}

	.event-holder {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 1em;
		position: relative;
		margin-bottom: 10px;
	}
		.event-holder > div {
			padding: 3.333em 2.3em 0px 2.3em;
			background-color: rgba(0,0,0, 0.7);
			-webkit-transition: background-color 0.2s;
			transition: background-color 0.2s;
		}
		.event-holder > div:hover {
			background-color: rgba(97,194,80, 0.7);
		}
			.event-holder > div > h3 {
				display: inline-block;
				text-transform: uppercase;
				font-size: 1.2em;
				font-weight: bold;
				margin: 0px auto 40px auto;
				padding-bottom: 0.3333em;
				border-bottom: 3px solid #fff;
			}

			.event-holder > div > p {
				margin-bottom: 10px;
			}

			.event-holder > div > span {
				position: absolute;
				display: block;
				width: 100%;
				text-transform: uppercase;
				font-size: 2.666666666666667em;
				left: 0px;
				bottom: 35px;
			}

#gallery {

}
	#gallery .item div {
		display: block;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#gallery .owl-controls {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: 0px;
		transform: translate(0px, -27px);
	}

	#gallery .owl-controls .owl-buttons {
		position: relative;
		width: 100%;
	}
		#gallery .owl-controls .owl-buttons div {
			color: #fff;
			display: inline-block;
			zoom: 1;
			margin: 0px;
			padding: 0px;
			font-size: 12px;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			background: transparent;
			filter: Alpha(Opacity=100);
			opacity: 1;

			width: 54px;
			height: 54px;
			position: absolute;
		}

		#gallery .owl-controls .owl-buttons .owl-prev {
			background-image: url('/img/var/arrow-left.svg');
			left: 40px;
		}

		#gallery .owl-controls .owl-buttons .owl-next {
			background-image: url('/img/var/arrow-right.svg');
			right: 40px;
		}

		@media (max-width: 767px) {
			#gallery .owl-controls .owl-buttons .owl-prev {
				left: 10px;
			}
			#gallery .owl-controls .owl-buttons .owl-next {
				right: 10px;
			}
		}

#makronkovo {
	background-color: #f9e8e8;
	padding: 120px 0px 275px 0px;
	background-size: contain;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-moz-min-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (min-device-pixel-ratio: 1) {
	#makronkovo {
		background-image: url('/img/bg/makronky.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	#makronkovo {
		background-image: url('/img/bg/makronky@2x.jpg');
	}
}

@media (min-width: 1200px) {
	#makronkovo {
		background-image: url('/img/bg/makronky@2x.jpg');
	}
}

@media (max-width: 991px) {
	#makronkovo {
		background-position: bottom center;
		background-image: url('/img/bg/makronky-mobile.jpg');
		padding: 60px 0px 275px 0px;
	}
}

@media (max-width: 480px) {
	#makronkovo {
		background-size: 100%;
	}
}

	#makronkovo img {
		margin-bottom: 30px;
	}

	@media (max-width: 991px) {
		#makronkovo img {
			max-width: 100%;
			width: 325px;
			height: 91px;
			display: block;
			margin: 0px auto 30px auto;
		}
	}

	#makronkovo h2 {
		margin-top: 0px;
		margin-bottom: 20px;
		font-size: 1.666666666666667em;
	}

	@media (max-width: 991px) {
		#makronkovo h2 {
			text-align: center;
		}
	}

	#makronkovo h3 {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1em;
		font-size: 1em;
	}

	#makronkovo p {
		margin-top: 0px;
	}

	@media (max-width: 991px) {
		#makronkovo .col-xs-12 .col-xs-12 {
			max-width: 270px;
			float: none;
			margin: 0 auto;
		}
	}

	#makronkovo p:last-of-type {
		margin-bottom: 30px;
	}

	#makronkovo a {
		font-weight: bold;
		color: #ff6699;
		border: 2px solid #ff6699;
		line-height: 2.4em;
		padding: 0px 40px;
		text-align: center;
		display: inline-block;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	@media (max-width: 991px) {
		#makronkovo a {
			width: 100%;
		}
	}

	#makronkovo a:hover {
		text-decoration: none;
		background-color: rgba(255, 102, 153, 0.1);
	}

footer {
	padding-top: 70px;
	padding-bottom: 40px;
	color: white;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),
only screen and (min--moz-device-pixel-ratio: 1),
only screen and (-moz-min-device-pixel-ratio: 1),
only screen and (-o-min-device-pixel-ratio: 1/1),
only screen and (min-device-pixel-ratio: 1) {
	footer {
		background-image: url('../img/bg/black-noise.jpg');
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	footer {
		background-image: url('../img/bg/black-noise@2x.jpg');
	}
}

@media (min-width: 1200px) {
	footer {
		background-image: url('../img/bg/black-noise@2x.jpg');
	}
}
	#footer-logo {
		margin: 0 auto;
		display: block;
	}

	footer .footer-block {
		margin: 0px auto 45px auto;
		width: 200px;
	}

	@media (min-width: 992px) {
		footer .footer-block.wider {
			width: 250px;
			margin: 0 0px 0 auto;
		}
	}

		@media (max-width: 991px) {
			footer .footer-block table {
				margin-bottom: 20px;
			}
		}

		footer .footer-block table tr td {
			line-height: 1.6em;
		}

		footer .footer-block table tr td:first-of-type {
			min-width: 110px;
		}

		footer .footer-block .mail-link {
			color: #61c250;
		}

		footer .footer-block .icon-link {
			margin-right: 15px;
			display: inline-block;
		}
			footer .footer-block .icon-link svg {
				fill: #fff;
				-webkit-transition: fill 0.2s; /* Safari */
				transition: fill 0.2s;
			}
			footer .footer-block .icon-link:hover svg {
				fill: #61c250;
			}

		footer .footer-block h2 {
			font-weight: bold;
			font-size: 1em;
			text-transform: uppercase;
			margin-top: 0px;
		}

		footer .footer-block h2:after {
			content: " ";
			display: block;
			width: 26px;
			height: 3px;
			background-color: white;
			position: relative;
			top: 12px;
			left: -6px;
			margin-bottom: 25px;
		}
